.bebra {
    cursor: default;
    flex-grow: 2;
    width: 100%;
    font-family: "Lora";
    font-size: 32px;
    color: #8FB996;
    font-weight: 700;
}

.mainwrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-bottom: 1px solid #8FB996;
    background-color: white;
    padding: 10px 10px 10px 10px;
}