.slots {
  cursor: default;
  font-family: "Lora";
  font-size: 32px;
  color: #909090;
  font-weight: 700;
}

.mainWrapper {
  position: relative;
  top: 40px;
  overflow-wrap: break-word;
  width: 100%;
  background-color: #010101;
  padding: 10px 0 10px 0;
}
