.parkingWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slotsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
