.bookingWrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 40px;
  overflow-wrap: break-word;
  width: 80%;
  background-color: var(--black8);
  border: 1px solid var(--blue8);
  margin-top: 10px;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--blue8);
}

.statContainer {
  flex: 1;
  font-family: "Lora";
  color: var(--blue8);
  font-weight: 700;
}

.statProp {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
}

.statLabel {
  font-size: 12px;
  display: flex;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5px;
}

.busySlot {
  color: var(--red8);
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  padding: 5px 0 5px 0;
}

.closeBookingBtn {
  width: 70px;
  padding: 0.5rem;
  background-color: var(--blue8);
  border-color: var(--blue8);
  border: 1px solid var(--blue8);
  font-family: "Lora";
  color: var(--black8);
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  margin: 0 5px 0 5px;
  user-select: none;
}

.closeBookingBtn:active {
  border: 1px solid var(--black);
}

.userInfo {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid var(--blue8);
  font-family: "Lora";
  color: var(--blue8);
  font-weight: 700;
}

.columnInfo {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0 5px;
}

.userLabel {
  font-size: 12px;
  font-weight: 400;
  align-self: center;
  padding-top: 5px;
}

.bookingInputContainer > input {
  outline: 0;
  padding: 0;
  margin: 4px 0 6px 0;
  width: 10ch;
  height: 36px;
  color: var(--blue8);
  border: none;
  border-bottom: 1px solid var(--blue8);
  background-color: transparent;
  box-sizing: border-box;
  font-family: "Lora";
  font-weight: 700;
  text-align: center;
  font-size: 16px;
}

.bookingInputContainer > input::placeholder {
  color: var(--blue8);
  opacity: 1;
}

.bookingInputContainer > input:focus {
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: "Lora";
  font-weight: 700;
  color: var(--blue8);
}

.bookingInputContainerBusy > input {
  color: var(--red8);
  border-bottom: 1px solid var(--red8);
}

.bookingInputContainerBusy > input::placeholder {
  color: var(--red8);
}

.bookingPriceConatainer {
  margin: 4px 0 6px 0;
  width: 10ch;
  height: 36px;
  color: var(--blue8);
  border-bottom: 1px solid var(--blue8);
  font-family: "Lora";
  font-weight: 700;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busyPriceContainer {
  color: var(--red8);
  border-bottom: 1px solid var(--red8);
}
