@use "../global" as *;

.intro-section {
  width: 100%;
  height: 97vh;
  background-color: $bg-gray;
  position: relative;
}

.intro-section::before {
  content: "";
  display: block;
  width: 100%;
  height: 4rem;
}

.bg-shape {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  @media (max-width: 800px) {
    display: none;
  }
}

.intro-content {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  &__text {
    display: flex;
    flex-direction: column;
    z-index: 3;
    max-width: 50rem;
    margin-top: 5rem;

    @media (max-width: 800px) {
      text-align: center;
      align-items: center;
    }

    h4 {
      font-size: $h4-size;
      font-family: $text-font;
      color: $text-black;
    }

    h1 {
      font-size: $h1-size;
      font-family: $titles-font;
      font-weight: 700;
      color: $text-black;
      line-height: 1.2;
      margin-top: 1rem;
      margin-bottom: 2.3rem;

      span {
        color: $text-blue;
      }
    }

    p {
      font-size: $p-size;
      font-family: $text-font;
      line-height: 1.6;
      color: $text-gray;
      margin-bottom: 4rem;
    }

    &__btns {
      display: flex;
      gap: 2rem;
      font-size: $p-size;
      font-family: $text-font;

      @media (max-width: 450px) {
        flex-direction: column;
      }

      a {
        text-decoration: none;
        color: white;
        font-weight: 700;
      }

      &__book-ride {
        background-color: $text-blue;
        padding: 1.8rem 3rem;
        border-radius: 0.3rem;
        box-shadow: 0 10px 15px 0 rgb(3 129 245 / 35%);
        transition: all 0.3s;
        border: 2px solid $text-blue;

        @media (max-width: 450px) {
          padding: 1.8rem 8rem;
        }

        &:hover {
          box-shadow: 0 10px 15px 0 rgb(3 129 245 / 60%);
          background-color: #0066d6;
          border: 2px solid #0066d6;
        }
      }

      &__learn-more {
        background-color: $text-black;
        padding: 1.8rem 3rem;
        border-radius: 0.3rem;
        border: 2px solid $text-black;
        transition: all 0.3s;

        @media (max-width: 450px) {
          padding: 1.8rem 8rem;
          margin-bottom: 7rem;
        }

        &:hover {
          background-color: transparent;
          color: $text-black;
        }
      }
    }
  }

  &__car-img {
    z-index: 2;
    position: absolute;
    right: 0;
    width: 60%;
    margin-top: 5rem;

    @media (max-width: 800px) {
      display: none;
    }
  }
}

.scroll-up {
  position: fixed;
  color: $bg-white;
  border-radius: 3px;
  background-color: $text-blue;
  width: 1.5rem;
  height: 1.5rem;
  bottom: 5rem;
  right: 5rem;
  z-index: 20;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  cursor: pointer;
  i {
    font-size: 2rem;
  }
}

.scroll-up:hover {
  background-color: #0066d6;
}

.show-scroll {
  display: flex;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-placeholder {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: $bg-gray;
  border-radius: 50%;
  animation: loading-animation 1s infinite ease-in-out;
}

.loading-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $text-black;
  font-weight: bold;
  font-size: 16px;
}

@keyframes loading-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
