@use "../global" as *;

.reviews-page {
  background: linear-gradient(to bottom, $bg-gray 20%, $bg-white 80%);
  margin-top: 8rem;
}

.reviews-page::before {
  content: "";
  display: block;
  width: 100%;
  height: 12rem;
  margin: -80px 0 0 0;
}
