@use "../global" as *;

.banner-section {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #bbcee7;
  padding: 6rem 0;
  text-align: center;
  background-image: url("../../images/banner/book-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  color: $text-black;
  font-size: 5.2rem;
  font-family: $text-font;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    h2 {
      font-size: $h1-size;
      line-height: 1.3;
    }

    p {
      font-size: $h3-size;
      font-weight: 600;
    }

    span {
      color: $text-blue;
    }
  }
}
