.submitBtn {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #0381fe;
  border-color: #0381fe;
  border: 1px solid #0381fe;
  color: #e5e5e5;
  cursor: pointer;
  border-radius: 20px;
}

.app {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  font-family: "Lora";
}

.alreadyText {
  text-align: center;
  color: #e5e5e5;
}

.logInLink:hover,
.logInLink:active,
.logInLink:visited,
.logInLink:link {
  color: #0381fe;
}

.submitBtn:disabled {
  background-color: rgba(3, 129, 254, 0.5);
  border-color: rgba(3, 129, 254, 0.5);
  cursor: default;
}

.submitBtn:active {
  border: 1px solid var(--white);
}

.formName {
  text-align: center;
  color: var(--white);
}

.sectionReg {
  border-radius: 20px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background-color: #171717;
}

.formReg {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.regWrapper {
  align-self: center;
  width: 80%;
}

.inputContainer {
  display: block;
  position: relative;
  z-index: 1;
  margin: 20px 0 5px 0;
}

.inputContainer > label {
  position: absolute;
  top: 5px;
  color: #909090;
  font-size: 16px;
  cursor: text;
  user-select: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.2s;
  transform-origin: left top;
}

.inputContainer > input:focus + label {
  top: -15px;
  font-size: 12px;
  transition: all 0.2s;
  transform-origin: left top;
  color: #0381fe;
}

.labelHasContent {
  top: -15px !important;
  font-size: 12px !important;
  transition: all 0.2s;
  transform-origin: left top;
  color: #0381fe;
}

.inputContainer > input {
  display: block;
  width: 100%;
  height: 32px;
  font-size: 16px;
  color: #909090;
  border: none;
  border-bottom: 1px solid #8c8c8c;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 0;
}

.inputContainer > input:focus {
  outline: 0;
  padding: 0;
  padding-left: 1px;
  border-color: #3e91ff;
  vertical-align: baseline;
  color: #3e91ff;
}

.instructions {
  text-align: left;
  font-size: 0.75rem;
  color: #f76f68;
  padding: 0.2rem;
  margin: 0;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.errmsg {
  text-align: center;
  color: #f76f68;
  font-weight: bold;
  margin-bottom: 1em;
}
